.allMentors{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    
}

@media only screen and (max-width: 450px) {
    .column {
        width: 100%;
    }
    .allMentors{
        width: 80vw;
    }
    
}

.standard_bg{
    padding-bottom: 10vh;
}