.intro{
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.intro h1{
    margin-left: 5vh;
    padding: 0;
    margin-top: 3vh;
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #30c3e8, #0d0d0d);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 5px;
}

.intro h2{
    margin-top: 3vh;
    font-size: xx-large;
    margin-left: 5vh;
    padding: 0;
}

.intro h3{
    margin-top: 3vh;
    font-size: x-large;
    margin-left: 5vh;
    padding: 0;
}

.stats{
    display: flex;
}

.oneStat{
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 5vh;
}

.oneStat h1{
    font-weight: 500;
    /* border-bottom: 1px solid white; */
}

.oneStat h2{
    font-weight: 200;
    font-size: x-large;
    margin-top: 1vh;
}

@media screen and (max-width: 769px) {
    .intro{
        text-align: left;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .intro h1{
        margin-left: 0;
        font-size: xxx-large;
        margin-top: 0vh;
    }
    

    .intro h2{
        margin-left: 0;
        font-size: x-large;
        margin-bottom: 3vh;
    }
    
    .intro h3{
        margin-left: 0vh;
        font-size: large;
        margin-bottom: -1vh;
    }

    .intro .standard_btn{
        margin-left: 0;
    }

    .stats div{
        /* display: block; */
        margin: 1vh;
    }
    
}