.standard_heading3{
    font-size: 2vw;
    font-weight: 100;
    color: white;
    margin-left: 25vw;
    margin-right: 25vw;
}

.standard_heading4{
    font-size: 4vw;
    font-weight: 100;
    color: white;
    margin-left: 5vw;
    margin-right: 5vw;
}

.form_main{
    margin-top: 2vh;
}

.required{
    color: red;
}

.standard_paragraph{
    color: white;
    margin-bottom: 0;
}

.profile_data{
    margin-top: 5vh;
    text-align: left;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-bottom: 10vh;
}

.profile_data h1{
    margin: 0;
    margin-bottom: 2vh;
    font-size: x-large;
    padding-bottom: 1vh;
    /* border-bottom: .5px white solid; */
    background-image: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient(to right, #30c3e8, #0d0d0d);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 2px;
}

.profile_data p{
    margin: 0;
    font-size: x-large;
}

.basic-multi-select{
    color: black;
}

.logoutBtn{
    border-radius: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(255, 255, 255);
    border: none;
}

.deleteBtn{
    border-radius: 5vh;
    margin-right: 2vh;
    margin-top: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: rgb(247, 17, 17);
    border: none;
    color: white;
}

.interestOptions{
    background-color: rgb(212, 212, 212);
    margin: 1vh;
    border-radius: 5vh;
    padding: 1vh;
    width: fit-content;
    display: inline-block;
    margin-left: 0;
}

.editBtn{
    margin: 0;
    margin-top: 3vh;
}


@media screen and (max-width: 769px) {
    .standard_heading3{
        font-size: 6vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .standard_heading4{
        font-size: 10vw;
        font-weight: 100;
        color: white;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .profile_data{
        margin-top: 3vh;
        text-align: left;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .interestOptions{
        margin: 1vh;
    }
    
}