
.mentorcard{
    background-color: rgb(226, 226, 226);
    max-height: 50vh;
    padding: 20px;
}

.basic_button_black{
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5vh;
    border: none;
    margin-top: 2vh;
}

.mentor_name{
    font-size: 4vh;
    font-weight:700;
}

.mentor_college{
    font-size: 2.5vh;
}

.mentor_major{
    font-size: 2vh;
}