#entry_bg{
    background-color: black;
    height: 100vh;
}

#bg_img{
    position: absolute;
    width: 99vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    opacity: .3;
}

#main_txt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.standard_heading{
    font-size: 5vw;
    font-weight: 100;
    color: white;
    padding: 2vh;
}

.standard_link{
    color: white;
    font-weight: 200;
    text-decoration: underline white .5px;
    margin: 3vh;
}

.standard_btn{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10vh;
    margin: 2vh;
    padding: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

.standard_btn:hover{
    border: 1px white solid;
}


/* for phone screen */

@media screen and (max-width: 769px) {
    .standard_heading{
        font-size: 20vw;
    }

}